<%- include('partials/header') %>

    <main>
        <h1>Categories</h1>

        <% if (categories && categories.length> 0) { %>
            <ul>
                <% categories.forEach(function(category) { %>
                    <li>
                        <%= category.category_name %>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No categories found in the database.</p>
                <% } %>
    </main>

    <%- include('partials/footer') %>